
*.xcuserstate

Foodie.xcodeproj/project.xcworkspace/xcuserdata/xubill.xcuserdatad/UserInterfaceState.xcuserstate

Foodie.xcodeproj/project.xcworkspace/xcuserdata/xubill.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcuserstate

Foodie.xcodeproj/project.xcworkspace/xcuserdata/xubill.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

Foodie.xcodeproj/xcuserdata/xubill.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
