
*.xcuserstate

Foodie.xcodeproj/project.xcworkspace/xcuserdata/xubill.xcuserdatad/UserInterfaceState.xcuserstate

Foodie.xcodeproj/project.xcworkspace/xcuserdata/xubill.xcuserdatad/UserInterfaceState.xcuserstate
